---
interface Props {
	clients: string[];
}

const { clients } = Astro.props;
---

<div class="flex items-center gap-12 px-4">
	{
		clients.map((client) => (
			<div class="clip2 bg-accent-600 font-basement text-secondary-900 rounded-md p-3 text-lg font-medium whitespace-nowrap">
				{client}
			</div>
		))
	}
</div>
