@import "tailwindcss";
@import "./duck-sprite.css";

@theme {
    --color-primary: #FFC700;
    --color-secondary: #F24E1E;
    --color-accent: #F24E1E;
    --color-background: #000000;
    --color-foreground: #FFFFFF;

    @keyframes fade-in-up {
        from {
            opacity: 0;
            transform: translateY(30px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    --animate-fade-in-up: fade-in-up 0.6s ease-out backwards;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #FFC700;
    --color-secondary: #F24E1E;
    --color-accent: #F24E1E;
    --color-background: #000000;
    --color-foreground: #FFFFFF;
  }
}

.dark body {
  background-image: url(/page-bottom-bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
}
.gradient-text {
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}